In [39]:
import pandas as pd
import sklearn
from sklearn. preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [40]:
df = pd.read_csv('ner_datasetreference.csv', encoding='latin1')
df

          Sentence #           Word  POS Tag
0        Sentence: 1      Thousands  NNS   O
1                NaN             of   IN   O
2                NaN  demonstrators  NNS   O
3                NaN           have  VBP   O
4                NaN        marched  VBN   O
...              ...            ...  ...  ..
1048570          NaN           they  PRP   O
1048571          NaN      responded  VBD   O
1048572          NaN             to   TO   O
1048573          NaN            the   DT   O
1048574          NaN         attack   NN   O

[1048575 rows x 4 columns]

In [41]:
df.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [42]:
df = df.fillna(method = 'ffill')
df.head(25)

     Sentence #           Word  POS    Tag
0   Sentence: 1      Thousands  NNS      O
1   Sentence: 1             of   IN      O
2   Sentence: 1  demonstrators  NNS      O
3   Sentence: 1           have  VBP      O
4   Sentence: 1        marched  VBN      O
5   Sentence: 1        through   IN      O
6   Sentence: 1         London  NNP  B-geo
7   Sentence: 1             to   TO      O
8   Sentence: 1        protest   VB      O
9   Sentence: 1            the   DT      O
10  Sentence: 1            war   NN      O
11  Sentence: 1             in   IN      O
12  Sentence: 1           Iraq  NNP  B-geo
13  Sentence: 1            and   CC      O
14  Sentence: 1         demand   VB      O
15  Sentence: 1            the   DT      O
16  Sentence: 1     withdrawal   NN      O
17  Sentence: 1             of   IN      O
18  Sentence: 1        British   JJ  B-gpe
19  Sentence: 1         troops  NNS      O
20  Sentence: 1           from   IN      O
21  Sentence: 1           that   DT      O
22  Sentence: 1        country   NN      O
23  Sentence: 1              .    .      O
24  Sentence: 2       Families  NNS      O

In [43]:
df['Sentence #'] = LabelEncoder().fit_transform(df['Sentence #'])
df.head(25)

    Sentence #           Word  POS    Tag
0            0      Thousands  NNS      O
1            0             of   IN      O
2            0  demonstrators  NNS      O
3            0           have  VBP      O
4            0        marched  VBN      O
5            0        through   IN      O
6            0         London  NNP  B-geo
7            0             to   TO      O
8            0        protest   VB      O
9            0            the   DT      O
10           0            war   NN      O
11           0             in   IN      O
12           0           Iraq  NNP  B-geo
13           0            and   CC      O
14           0         demand   VB      O
15           0            the   DT      O
16           0     withdrawal   NN      O
17           0             of   IN      O
18           0        British   JJ  B-gpe
19           0         troops  NNS      O
20           0           from   IN      O
21           0           that   DT      O
22           0        country   NN      O
23           0              .    .      O
24       11111       Families  NNS      O

In [44]:
df.rename(columns = {'Sentence #':'sentence_id', 'Word':'words', 'Tag':'labels'}, inplace = True)
df.head(25)

    sentence_id          words  POS labels
0             0      Thousands  NNS      O
1             0             of   IN      O
2             0  demonstrators  NNS      O
3             0           have  VBP      O
4             0        marched  VBN      O
5             0        through   IN      O
6             0         London  NNP  B-geo
7             0             to   TO      O
8             0        protest   VB      O
9             0            the   DT      O
10            0            war   NN      O
11            0             in   IN      O
12            0           Iraq  NNP  B-geo
13            0            and   CC      O
14            0         demand   VB      O
15            0            the   DT      O
16            0     withdrawal   NN      O
17            0             of   IN      O
18            0        British   JJ  B-gpe
19            0         troops  NNS      O
20            0           from   IN      O
21            0           that   DT      O
22            0        country   NN      O
23            0              .    .      O
24        11111       Families  NNS      O

In [45]:
df['labels'] = df['labels'].str.upper()
df.head(25)

    sentence_id          words  POS labels
0             0      Thousands  NNS      O
1             0             of   IN      O
2             0  demonstrators  NNS      O
3             0           have  VBP      O
4             0        marched  VBN      O
5             0        through   IN      O
6             0         London  NNP  B-GEO
7             0             to   TO      O
8             0        protest   VB      O
9             0            the   DT      O
10            0            war   NN      O
11            0             in   IN      O
12            0           Iraq  NNP  B-GEO
13            0            and   CC      O
14            0         demand   VB      O
15            0            the   DT      O
16            0     withdrawal   NN      O
17            0             of   IN      O
18            0        British   JJ  B-GPE
19            0         troops  NNS      O
20            0           from   IN      O
21            0           that   DT      O
22            0        country   NN      O
23            0              .    .      O
24        11111       Families  NNS      O

In [46]:
label = df['labels'].unique().tolist()
label

['O',
 'B-GEO',
 'B-GPE',
 'B-PER',
 'I-GEO',
 'B-ORG',
 'I-ORG',
 'B-TIM',
 'B-ART',
 'I-ART',
 'I-PER',
 'I-GPE',
 'I-TIM',
 'B-NAT',
 'B-EVE',
 'I-EVE',
 'I-NAT']

In [47]:
sentence_ids = df['sentence_id'].unique().tolist()
train_sentence_ids, test_sentence_ids = train_test_split(sentence_ids, test_size=0.2, random_state=42)
train_data = df[df['sentence_id'].isin(train_sentence_ids)]
test_data = df[df['sentence_id'].isin(test_sentence_ids)]

In [73]:
print(len(sentence_ids))
print(len(train_data))   
print(len(test_data))

47959
839640
208935

In [48]:
args = NERArgs()
args.num_train_epochs = 3
args.learning_rate = 1e-5
args.overwrite_output_dir = True
args.train_batch_size = 32
args.eval_batch_size = 32
args.use_crf = True
args.output_dir = 'fine-tuned-model'

In [67]:
model = NERModel("bert", "dslim/bert-base-NER", args=args,labels=label, ignore_mismatched_sizes=True, use_cuda=True)
train_result = model.train_model(train_data, eval_data=test_data, acc=accuracy_score)

Some weights of BertForTokenClassification were not initialized from the model checkpoint at dslim/bert-base-NER and are newly initialized because the shapes did not match:
- classifier.weight: found shape torch.Size([9, 768]) in the checkpoint and torch.Size([17, 768]) in the model instantiated
- classifier.bias: found shape torch.Size([9]) in the checkpoint and torch.Size([17]) in the model instantiated
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.
e:\LHL\Capstone_Project\venvName\lib\site-packages\simpletransformers\ner\ner_utils.py:190: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  return [
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [00:28<00:00,  5.75s/it]
Epoch 1 of 3:   0%|          | 0/3 [00:00<?, ?it/s]e:\LHL\Capstone_Project\venvName\lib\site-packages\simpletransformers\ner\ner_model.py:810: FutureWarning: Non-finite norm encountered in torch.nn.utils.clip_grad_norm_; continuing anyway. Note that the default behavior will change in a future release to error out if a non-finite total norm is encountered. At that point, setting error_if_nonfinite=false will be required to retain the old behavior.
  torch.nn.utils.clip_grad_norm_(
e:\LHL\Capstone_Project\venvName\lib\site-packages\torch\optim\lr_scheduler.py:129: UserWarning: Detected call of `lr_scheduler.step()` before `optimizer.step()`. In PyTorch 1.1.0 and later, you should call them in the opposite order: `optimizer.step()` before `lr_scheduler.step()`.  Failure to do this will result in PyTorch skipping the first value of the learning rate schedule. See more details at https://pytorch.org/docs/stable/optim.html#how-to-adjust-learning-rate
  warnings.warn("Detected call of `lr_scheduler.step()` before `optimizer.step()`. "
Epochs 0/3. Running Loss:    0.0748: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1199/1199 [40:03<00:00,  2.00s/it]
Epochs 1/3. Running Loss:    0.0910: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1199/1199 [14:06<00:00,  1.42it/s]
Epochs 2/3. Running Loss:    0.0772: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1199/1199 [16:48<00:00,  1.19it/s]
Epoch 3 of 3: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [1:11:20<00:00, 1426.78s/it]

In [50]:
result, model_outputs, preds_list = model.eval_model(test_data)

e:\LHL\Capstone_Project\venvName\lib\site-packages\simpletransformers\ner\ner_utils.py:190: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  return [
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:11<00:00,  2.90s/it]
Running Evaluation: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 300/300 [01:01<00:00,  4.88it/s]

In [58]:
result

{'eval_loss': 0.09592559408396482,
 'precision': 0.8294156854032437,
 'recall': 0.8338247118734924,
 'f1_score': 0.8316143547704441}

In [68]:
import matplotlib.pyplot as plt

plt.plot(train_result['global_step'], train_result['train_loss'])
plt.title("Training Loss")
plt.xlabel("Global Step")
plt.ylabel("Loss")
plt.show()

TypeError: tuple indices must be integers or slices, not str

In [51]:
# x_train, x_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

In [52]:
# train_data = pd.DataFrame({'sentence_id':x_train['sentence_id'], 'words':x_train['words'], 'labels':y_train})
# test_data = pd.DataFrame({'sentence_id':x_test['sentence_id'], 'words':x_test['words'], 'labels':y_test})

In [53]:
# model = NERModel("bert", "dslim/bert-base-NER", labels=label, args=args,ignore_mismatched_sizes=True, use_cuda=True) 
#model = NERModel('bert', 'bert-base-cased', labels = label, args = args, use_cuda=True)

In [54]:
# model.train_model(train_data,eval_data = test_data, acc = accuracy_score)

In [55]:
# import pickle
# with open('dslim_model', 'wb') as f:
#     pickle.dump(model, f)

In [56]:
# import pickle
# with open('dslim_model', 'rb') as f:
#     model_pickle = pickle.load(f)

In [57]:
#result, model_outputs, preds_list =  model.eval_model(test_data)
# result, model_outputs, preds_list =  model.eval_model(test_data)

In [59]:
# prediction, model_outputs = model_pickle.predict(['Apple product iphone, United States, apple, '])

In [60]:
# prediction
#model_outputs

In [61]:
# y_preds = model.predict(x_test)

In [62]:
# import spacy
# from spacy import displacy
# nlp = spacy.load('en_core_web_sm')
# text = nlp('Apple product iphone, United States, apple, Steve Jobs ')
# displacy.render(text, style = 'ent', jupyter=True)